<nav class="nav">
    <div class= container>
        <a class="btn btn-success" href="/"> Início </a>
        <a href="/perguntar" class="btn btn-success">Faça uma pergunta para nós !</a>
    </div>    
</nav>