<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                        <input type="text" placeholder="" class="form-control" name="titulo">
                       <br><label>Descrição</label>
                        <textarea placeholder="" class="form-control" name="descricao"></textarea>
                        <br> 
                        <label>Categoria</label>
                        <input type = "text" placeholder="Digite a categoria com acentos e a primeira letra maiúscula. Ex. Inglês, Português, Medicina, Literatura" class= "form-control" name="categoria">
                        <br> <button class="btn btn-success">Gravar pergunta</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include partials/footer.ejs %>
